<meta name="google-signin-client_id" content="533079699939-156l7gmrnfnqhbrsjpm5n6gjcvccp147.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>


<div id="gp_login_content">
    <div id="gp_login_container">
        <div id="gp_login_base">
            
            <div class="spacer" style="position: relative; width: 90%; margin-left: 5%; margin-top: 100px;">
            </div>
            <div class="input_text register_items" id="input_email">
                <input type="mail" required>
                <div class="label">Email</div>
            </div>
            <div class="input_text" id="input_username">
                <input type="text" required>
                <div class="label">Username</div>
            </div>
            <div class="input_text" id="input_password">
                <input type="password" required>
                <div class="label">Password</div>
            </div>
            <div class="input_text register_items" id="input_password_repeat">
                <input type="password" required>
                <div class="label">Repeat Password</div>
            </div>
            
            <div class="gp_button" id="create_button">
                No Account? <font id="create_acc">Create Account</font>
            </div>
            <div class="gp_button" id="login_button">
                Login
            </div>
            <div class="gp_spacer">
                <div class="gp_spacer_backline"></div>
                <div class="gp_spacer_heading">OR</div>
            </div>
            <div class="g-signin2" data-width="360" data-height="38" data-onsuccess="onSignIn"></div>
        </div>
    </div>
</div>