<div id="drag-region">
  <div id="window-title" class="secondary-textColor">
    GamerPals
  </div>
  <div id="window-controls">
    <div class="button backgroundHoverBG" id="min-button">
      <span>
        <i class="material-icons secondary-textColor">
          arrow_drop_down
        </i>
      </span>
    </div>
    <div class="button backgroundHoverBG" id="max-button">
      <span>
        <i class="material-icons secondary-textColor">
          fullscreen
        </i>
      </span>
    </div>
    <div class="button backgroundHoverBG" id="restore-button">
      <span>
        <i class="material-icons secondary-textColor">
          fullscreen_exit
        </i>
      </span>
    </div>
    <div class="button warnHoverBG" id="close-button">
      <span>
        <i class="material-icons secondary-textColor">
          close
        </i>
      </span>
    </div>
  </div>
</div>
