@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin no-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@mixin blurfilter($fltr) {
  -webkit-filter: blur($fltr);
  -moz-filter: blur($fltr);
  -o-filter: blur($fltr);
  -ms-filter: blur($fltr);
  filter: blur($fltr);
}
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin insetBoxShadowLevel($level: 1) {
  @if $level == 1 {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @if $level == 2 {
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @if $level == 3 {
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  @if $level == 4 {
    box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @if $level == 5 {
    box-shadow: inset 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@mixin boxShadowLevel($level: 1) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  @if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@mixin generate-theme-classes($theme) {
  //default palette forground/background:
  $foreground-palette: map-get($theme, foreground);
  $background-palette: map-get($theme, background);

  /////////////////////////////////////////////////
  // BACVKGROUND-COLOR
  /////////////////////////////////////////////////
  .primaryBG {
    background-color: mat-color(map-get($theme, primary));
  }
  .accentBG {
    background-color: mat-color(map-get($theme, accent));
  }
  .warnBG {
    background-color: mat-color(map-get($theme, warn));
  }

  // FOREGROUND
  .baseBG {
    background-color: mat-color($foreground-palette, base);
  }
  .dividerBG {
    background-color: mat-color($foreground-palette, divider);
  }
  .dividersBG {
    background-color: mat-color($foreground-palette, dividers);
  }
  .disabledBG {
    background-color: mat-color($foreground-palette, disabled);
  }
  .disabled-buttonBG {
    background-color: mat-color($foreground-palette, disabled-button);
  }
  .disabled-textBG {
    background-color: mat-color($foreground-palette, disabled-text);
  }
  .hint-textBG {
    background-color: mat-color($foreground-palette, hint-text);
  }
  .secondary-textBG {
    background-color: mat-color($foreground-palette, secondary-text);
  }
  .iconBG {
    background-color: mat-color($foreground-palette, icon);
  }
  .iconsBG {
    background-color: mat-color($foreground-palette, icons);
  }
  .textBG {
    background-color: mat-color($foreground-palette, text);
  }
  .slider-offBG {
    background-color: mat-color($foreground-palette, slider-off);
  }
  .slider-off-activeBG {
    background-color: mat-color($foreground-palette, slider-off-active);
  }

  // BACKGROUND
  .status-barBG {
    background-color: mat-color($background-palette, status-bar);
  }
  .app-barBG {
    background-color: mat-color($background-palette, app-bar);
  }
  .backgroundBG {
    background-color: mat-color($background-palette, background);
  }
  .hoverBG {
    background-color: mat-color($background-palette, hover);
  }
  .cardBG {
    background-color: mat-color($background-palette, card);
  }
  .dialogBG {
    background-color: mat-color($background-palette, dialog);
  }
  .disabled-buttonBG {
    background-color: mat-color($background-palette, disabled-button);
  }
  .raised-buttonBG {
    background-color: mat-color($background-palette, raised-button);
  }
  .focused-buttonBG {
    background-color: mat-color($background-palette, focused-button);
  }
  .selected-buttonBG {
    background-color: mat-color($background-palette, selected-button);
  }
  .selected-disabled-buttonBG {
    background-color: mat-color($background-palette, selected-disabled-button);
  }
  .disabled-button-toggleBG {
    background-color: mat-color($background-palette, disabled-button-toggle);
  }

  /////////////////////////////////////////////////
  // COLOR
  /////////////////////////////////////////////////
  .primaryColor {
    color: mat-color(map-get($theme, primary));
  }
  .accentColor {
    color: mat-color(map-get($theme, accent));
  }
  .warnColor {
    color: mat-color(map-get($theme, warn));
  }

  // FOREGROUND
  .baseColor {
    color: mat-color($foreground-palette, base);
  }
  .dividerColor {
    color: mat-color($foreground-palette, divider);
  }
  .dividersColor {
    color: mat-color($foreground-palette, dividers);
  }
  .disabledColor {
    color: mat-color($foreground-palette, disabled);
  }
  .disabled-buttonColor {
    color: mat-color($foreground-palette, disabled-button);
  }
  .disabled-textColor {
    color: mat-color($foreground-palette, disabled-text);
  }
  .hint-textColor {
    color: mat-color($foreground-palette, hint-text);
  }
  .secondary-textColor {
    color: mat-color($foreground-palette, secondary-text);
  }
  .iconColor {
    color: mat-color($foreground-palette, icon);
  }
  .iconsColor {
    color: mat-color($foreground-palette, icons);
  }
  .textColor {
    color: mat-color($foreground-palette, text);
  }
  .slider-offColor {
    color: mat-color($foreground-palette, slider-off);
  }
  .slider-off-activeColor {
    color: mat-color($foreground-palette, slider-off-active);
  }

  // BACKGROUND
  .status-barColor {
    color: mat-color($background-palette, status-bar);
  }
  .app-barColor {
    color: mat-color($background-palette, app-bar);
  }
  .backgroundColor {
    color: mat-color($background-palette, background);
  }
  .hoverColor {
    color: mat-color($background-palette, hover);
  }
  .cardColor {
    color: mat-color($background-palette, card);
  }
  .dialogColor {
    color: mat-color($background-palette, dialog);
  }
  .disabled-buttonColor {
    color: mat-color($background-palette, disabled-button);
  }
  .raised-buttonColor {
    color: mat-color($background-palette, raised-button);
  }
  .focused-buttonColor {
    color: mat-color($background-palette, focused-button);
  }
  .selected-buttonColor {
    color: mat-color($background-palette, selected-button);
  }
  .selected-disabled-buttonColor {
    color: mat-color($background-palette, selected-disabled-button);
  }
  .disabled-button-toggleColor {
    color: mat-color($background-palette, disabled-button-toggle);
  }

  /////////////////////////////////////////////////
  // HOVER BACKGROUND-COLOR
  /////////////////////////////////////////////////
  .primaryBG {
    &:hover {
      background-color: mat-color(map-get($theme, primary));
    }
  }
  .accentHoverBG {
    &:hover {
      background-color: mat-color(map-get($theme, accent));
    }
  }
  .warnHoverBG {
    &:hover {
      background-color: mat-color(map-get($theme, warn));
    }
  }

  // FOREGROUND
  .baseHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, base);
    }
  }
  .dividerHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, divider);
    }
  }
  .dividersHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, dividers);
    }
  }
  .disabledHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, disabled);
    }
  }
  .disabled-buttonHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, disabled-button);
    }
  }
  .disabled-textHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, disabled-text);
    }
  }
  .hint-textHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, hint-text);
    }
  }
  .secondary-textHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, secondary-text);
    }
  }
  .iconHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, icon);
    }
  }
  .iconsHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, icons);
    }
  }
  .textHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, text);
    }
  }
  .slider-offHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, slider-off);
    }
  }
  .slider-off-activeHoverBG {
    &:hover {
      background-color: mat-color($foreground-palette, slider-off-active);
    }
  }

  // BACKGROUND
  .status-barHoverBG {
    &:hover {
      background-color: mat-color($background-palette, status-bar);
    }
  }
  .app-barHoverBG {
    &:hover {
      background-color: mat-color($background-palette, app-bar);
    }
  }
  .backgroundHoverBG {
    &:hover {
      background-color: mat-color($background-palette, background);
    }
  }
  .hoverHoverBG {
    &:hover {
      background-color: mat-color($background-palette, hover);
    }
  }
  .cardHoverBG {
    &:hover {
      background-color: mat-color($background-palette, card);
    }
  }
  .dialogHoverBG {
    &:hover {
      background-color: mat-color($background-palette, dialog);
    }
  }
  .disabled-buttonHoverBG {
    &:hover {
      background-color: mat-color($background-palette, disabled-button);
    }
  }
  .raised-buttonHoverBG {
    &:hover {
      background-color: mat-color($background-palette, raised-button);
    }
  }
  .focused-buttonHoverBG {
    &:hover {
      background-color: mat-color($background-palette, focused-button);
    }
  }
  .selected-buttonHoverBG {
    &:hover {
      background-color: mat-color($background-palette, selected-button);
    }
  }
  .selected-disabled-buttonHoverBG {
    &:hover {
      background-color: mat-color($background-palette, selected-disabled-button);
    }
  }
  .disabled-button-toggleHoverBG {
    &:hover {
      background-color: mat-color($background-palette, disabled-button-toggle);
    }
  }
}
