root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

[*.scss]
ij_scss_blank_lines_around_nested_selector = 1
ij_scss_blank_lines_between_blocks = 1

[{*.ats, *.ts}]
ij_continuation_indent_size = 4
ij_typescript_align_imports = false
ij_typescript_align_multiline_array_initializer_expression = true
ij_typescript_align_multiline_binary_operation = true
ij_typescript_align_multiline_chained_methods = true
ij_typescript_align_multiline_extends_list = false
ij_typescript_align_multiline_for = false
ij_typescript_align_multiline_parameters = true
ij_typescript_align_multiline_parameters_in_calls = false
ij_typescript_align_multiline_ternary_operation = false
ij_typescript_array_initializer_new_line_after_left_brace = true
ij_typescript_array_initializer_right_brace_on_new_line = true
ij_typescript_array_initializer_wrap = split_into_lines
ij_typescript_blank_lines_after_imports = 1
ij_typescript_blank_lines_around_class = 1
ij_typescript_blank_lines_around_function = 1
ij_typescript_blank_lines_around_method = 1
ij_typescript_blank_lines_around_method_in_interface = 1
ij_typescript_block_brace_style = end_of_line
ij_typescript_catch_on_new_line = true
ij_typescript_chained_call_dot_on_new_line = true
ij_typescript_class_brace_style = end_of_line
ij_typescript_else_on_new_line = true
ij_typescript_function_expression_brace_style = end_of_line
ij_typescript_if_brace_force = always
ij_typescript_import_merge_members = global
ij_typescript_import_sort_members = true
ij_typescript_import_sort_module_name = true
ij_typescript_indent_case_from_switch = true
ij_typescript_indent_chained_calls = true
ij_typescript_keep_simple_blocks_in_one_line = true
ij_typescript_keep_simple_methods_in_one_line = true

ij_typescript_place_assignment_sign_on_next_line = true
ij_typescript_space_before_catch_left_brace = true
ij_typescript_space_before_class_left_brace = true
ij_typescript_space_before_do_left_brace = true
ij_typescript_space_before_else_left_brace = true
ij_typescript_space_before_finally_left_brace = true
ij_typescript_space_before_function_left_parenth = true
ij_typescript_space_before_if_left_brace = true
ij_typescript_space_before_if_parentheses = true
ij_typescript_space_before_method_left_brace = true
ij_typescript_space_before_method_parentheses = false
ij_typescript_space_before_switch_left_brace = true
ij_typescript_space_before_switch_parentheses = true

ij_typescript_spaces_around_additive_operators = true
ij_typescript_spaces_around_arrow_function_operator = true
ij_typescript_spaces_around_assignment_operators = true
ij_typescript_spaces_around_bitwise_operators = true
ij_typescript_spaces_around_equality_operators = true
ij_typescript_spaces_around_logical_operators = true
ij_typescript_spaces_around_multiplicative_operators = true
ij_typescript_spaces_around_relational_operators = true
ij_typescript_spaces_around_shift_operators = true
ij_typescript_spaces_around_unary_operator = true

ij_typescript_spaces_within_array_initializer_brackets = true
ij_typescript_spaces_within_interpolation_expressions = false
ij_typescript_spaces_within_object_type_braces = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_brackets = false
ij_typescript_spaces_within_catch_parentheses = false
ij_typescript_spaces_within_for_parentheses = false
ij_typescript_spaces_within_if_parentheses = false
ij_typescript_spaces_within_method_call_parentheses = false
ij_typescript_spaces_within_method_parentheses = false

ij_typescript_spaces_within_imports = true
ij_typescript_use_chained_calls_group_indents = true
ij_typescript_use_path_mapping = always
ij_typescript_use_semicolon_after_statement = true

[{*.sht, *.html, *.shtm, *.shtml, *.htm, *.ng}]
max_line_length = 150
ij_html_align_attributes = true
ij_html_align_text = false
ij_html_attribute_wrap = normal
