@import "variables";
@import "functions";

:host {
    width: 100%;
    @include boxShadowLevel(4);    
}

#header_bar {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 15 !important;
    background-color: var(--app-bar-color);

    @include no-select();
    
    text-align: center;
    white-space: nowrap;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

}

app-profile-button {
  right: 25px;
  top: 20%;
  height: 75%;
  position: absolute;
  
  :host-context(.mobile) & {
    top: 15%;
    height: 75%;
  }
}

#gp_main_header_items_wrapper{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

app-mobile-navigation{
    @include boxShadowLevel(4);
    z-index: 5 !important;
    margin-top: -100%;
    overflow: hidden;
    transition: margin-top .5s;

    &.show {
        margin-top: 0;
    }
}

#nav-icon {
    z-index: 15 !important;
    width: 50px;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 15px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span{
    display: block;
    position: absolute;
    height: 15%;
    width: 100%;
    background: var(--text-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  #nav-icon span:nth-child(1) {
    top: 0;
  }
  
  #nav-icon span:nth-child(2) {
    top: 42.5%;
  }
  
  #nav-icon span:nth-child(3) {
    top: 85%;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }
  
  #nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon.open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }