<mat-toolbar>
    <span>Basic Settings</span>
</mat-toolbar>
<mat-list>
  <mat-list-item>
    <p mat-line class="setting-heading">Enable Dark-Theme</p>
    <p mat-line class="setting-subheading">Do you want to burn your eyes or nah?</p> 
    <mat-slide-toggle class="setting-action" [(ngModel)]="settings.isDarkThemeEnabled" (change)="settingChanged()"></mat-slide-toggle>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <p mat-line class="setting-heading">Enable Sounds</p>
    <p mat-line class="setting-subheading">Beep Boop Beep?</p>
    <mat-slide-toggle class="setting-action" [(ngModel)]="settings.isSoundEnabled" (change)="settingChanged()"></mat-slide-toggle>
  </mat-list-item>
  <mat-list-item>
    <p mat-line class="setting-heading">Volume</p>
    <mat-slider thumbLabel [displayWith]="formatVolumeSlider" tickInterval="1" style="width: 100%" [(ngModel)]="settings.soundVolume" (change)="settingChanged()"></mat-slider>
  </mat-list-item>
   
  <mat-divider></mat-divider>
</mat-list>
