@import "variables";
@import "functions";

:host{
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: var(--app-bar-color);
}

@keyframes scroll-bounce {
	0%, 4%, 10%, 16%, 20% {
        bottom: 50px;
    }
    8% {
        bottom: 85px;
    }
    12% {
        bottom: 65px;
    }
}

@keyframes spin-animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-animation {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin-animation-reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes spin-animation-reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

#welcome-container {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;

    #background-video-container {
        position: relative;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%; 
        overflow: hidden;
        opacity: 0;
        transition: opacity 3s;

        &.show {
            opacity: 1;
        }
        &.dark {
            filter: brightness(20%) blur(5px);
        }
        &.bright {
            filter: brightness(200%) blur(5px);
        }
    }

    #background-video {
        height: 100%;
        width: 177.77777778vh; /* 100 * 16 / 9 */
        min-width: 100%;
        min-height: 56.25vw; /* 100 * 9 / 16 */
        position: absolute;
        left: 50%; /* % of surrounding element */
        top: 50%;
        transform: translate(-50%, -50%); /* % of current element */
        z-index: 10;
    }

    $top-and-bottom-side-distance: 22%;
    $middle-side-distance: 10%;

    .gp-home-users-single-base{
        z-index: 15;
        width: 25%;
        min-width: 250px;
        max-width: 400px;
        height: 120px;
        position: absolute;
        @include boxShadowLevel(2);
        transition: box-shadow 0.4s, transform 0.4s;

        transform: scale(0);
        
        &:nth-child(1) {
            top: 50px;
            left: $top-and-bottom-side-distance;
        }
        
        &:nth-child(2) {
            top: 50px;
            right: $top-and-bottom-side-distance;
        }
        
        &:nth-child(3) {
            bottom: calc(50% - 50px);
            left: $middle-side-distance;
        }
        
        &:nth-child(4) {
            bottom: calc(50% - 50px);
            right: $middle-side-distance;
        }
        
        &:nth-child(5) {
            bottom: 50px;
            left: $top-and-bottom-side-distance;
        }
        
        &:nth-child(6) {
            bottom: 50px;
            right: $top-and-bottom-side-distance;
        }

        &.show{
            transform: scale(0.9);
        }
        &:nth-child(odd):hover{
            transform: translate(-3px, -3px) scale(1);
            @include boxShadowLevel(3);
        }
        &:nth-child(even):hover{
            transform: translate(3px, -3px) scale(1);
            @include boxShadowLevel(3);
        }

        .gp-home-users-single-base-game{
            height: 40px;
            width: 100%;
            background-color: var(--background-color);
            float: left;
            color: var(--text-color);

            span{
                position: relative;
                top: 15px;
                left: 15px;
                font-size: 18px;
            }
        }

        .gp-home-users-single-base-game-img{
            height: 80px;
            width: 80px;
            background-color: var(--background-color);
            border-bottom: var(--primary-color) 2px solid;
            float: left;

            .gp-home-users-single-base-game-img-logo{
                height: 50px;
                width: 50px;
                margin-top: 15px;
                margin-left: 15px;

                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        .gp-home-users-single-base-stats{
            position: relative;
            z-index: 4;
            height: 80px;
            width: calc(100% - 80px);
            float: left;
            text-align: center;

            .gp-home-users-single-base-stats-online{
                z-index: 4;
                position: relative;
                float: left;
                width: 50%;
                height: 100%;
                color: var(--text-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .gp-home-users-single-base-stats-searching{
                z-index: 4;
                position: relative;
                float: left;
                width: 50%;
                height: 100%;
                color: var(--text-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .gp-home-users-single-base-stats-bg{
                position: absolute;
                z-index: 3;
                top: 0px;
                left: 0px;
                height: 80px;
                width: 100%;
                background-color: var(--background-color);
                border-bottom: var(--primary-color) 2px solid;
                opacity: 0.5;
            }
        }
    }

    $border-size: 8px;
    #gp-home-join-now-spinner {
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto auto auto auto;
        width: 400px;
        height: 400px;
        -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        display: flex;
        align-items: center;
        justify-content: center;

        &.align-right{
            left: unset;
            right: 50px;
            top: 0;
            bottom: 0;
            margin: unset unset unset unset;
        }

        #gp-home-join-now-spinner-outerCircle {
            position: absolute;
            width: 80%;
            height: 80%;
            top: calc(10% - $border-size);
            left: calc(10% - $border-size);
            border-radius: 50%;
            border: $border-size solid #000;
            border-color: var(--primary-color) transparent var(--primary-color) transparent;
            -webkit-animation: spin-animation 15s linear infinite;
            animation: spin-animation 15s linear infinite;
        }
        
        #gp-home-join-now-spinner-innerCircle {
            position: absolute;
            width: 70%;
            height: 70%;
            top: calc(15% - $border-size);
            left: calc(15% - $border-size);
            border-radius: 50%;
            border: $border-size solid transparent;
            border-color: transparent var(--accent-color) transparent var(--accent-color);
            -webkit-animation: spin-animation-reverse 15s linear infinite;
            animation: spin-animation-reverse 15s linear infinite;
        }

        #gp-join-now-text{
            z-index: 10;
            cursor: pointer;
            font-weight: bold;
            font-size: 20pt;
            color: var(--text-color);
        }
    }

    #gp-home-scrollbutton {
        z-index: 5;
        padding-top: 100px;
        cursor: pointer;

        span {
            position: absolute;
            bottom: 50px;
            left: 50%;
            width: 50px;
            height: 50px;
            margin-left: -25px;
            border: 2px solid #fff;
            border-radius: 100%;
            box-sizing: border-box;
            transition: background-color 0.1s, transform 0.5s;
            animation: scroll-bounce 10s infinite linear;

            &:hover{
                background-color: rgba(255, 255, 255, 0.186);
                animation: unset;
                transform: translateY(7px);
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 16px;
                height: 16px;
                margin: -12px 0 0 -8px;
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                box-sizing: border-box;
            }
        }
    }
}


#content-container {
    position: relative;
    width: 100%;
    float: left;
    background-color: var(--text-color);
    z-index: 90;

    #gp-home-real-content-top{
        width: 0;
        height: 100px;
        padding-bottom: 10%;
        padding-left: 100%;
        overflow: hidden;
    
        &:after{
            content: "";
            display: block;
            width: 0;
            height: 100px;
            margin-left: -2000px;
            border-bottom: 150px solid transparent;
            border-left: 2000px solid var(--background-color);
        }
    }
    #gp-home-real-content-bottom{
        width: 0;
        height: 100px;
        padding-bottom: 3%;
        padding-left: 100%;
        overflow: hidden;
    
        &:after{
            content: "";
            display: block;
            width: 0;
            height: 100px;
            margin-left: -2000px;
            border-top: 150px solid transparent;
            border-left: 2000px solid var(--background-color);
        }
    }

    #gp-home-real-content{
        width: 100%;
        padding-top: 40px;
        text-align: center;
    
        #gp-home-real-content-wrapper{
            display: inline-block;
            vertical-align: middle;
            position: relative;
            z-index: 4;
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            text-align: left;
    
            .gp-home-introduction-heading{
                text-align: center;
                font-size: 25px;
            }
    
            .gp-home-introduction-heading-spacer{
                width: 80%;
                height: 2px;
                margin-left: 10%;
                margin-top: 10px;
                background-color: var(--background-color);
            }
    
            .gp-home-introduction-content{
                width: 100%;
                margin-top: 60px;
                margin-bottom: 120px;
                text-align: center;
                font-size: 20px;
    
                &#gp-home-introduction-services{
                    margin-bottom: 30px;
                }
    
                .video-wrapper {
                    margin-top: 30px;
                    position: relative;
                    padding-bottom: 56.25%;
                    padding-top: 25px;
                    height: 0;
    
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
    
            #gp-home-introduction-services-wrapper{
                width: 100%;
                height: 200px;
                margin-bottom: 120px;
    
                .gp-home-introduction-services-button{
                    position: relative;
                    float: left;
                    margin-left: 3%;
                    width: 30%;
                    cursor: pointer;
                    @include border-radius(3px);
                    @include boxShadowLevel(2);
    
                    transition: box-shadow 0.4s, transform 0.4s;
        
                    &:nth-child(1):hover{
                        transform: translate(-3px, -3px);
                        @include boxShadowLevel(3);
                    }
                    &:nth-child(2):hover{
                        transform: translate(0px, -3px);
                        @include boxShadowLevel(3);
                    }
                    &:nth-child(3):hover{
                        transform: translate(3px, -3px);
                        @include boxShadowLevel(3);
                    }
    
                    &:before{
                        content: "";
                        display: block;
                        padding-top: 100%;
                    }
                }
            }
        }
    }
    
    #gp-home-footer{
        height: 500px;
        width: 100%;
        background-color: var(--background-color);
    }
}

