<!--suppress HtmlUnknownTarget -->
<div id="welcome-container">
    <div class="dark" id="background-video-container">
        <video autoplay id="background-video" loop muted>
            <source src="assets/media/videos/Halo-Game-4K-Live-Wallpaper.mp4" type="video/mp4">
        </video>
        <script>
            document.getElementById('background-video').play();
        </script>
    </div>

    <div id="gp-status-cards-container">
        <div *ngFor="let stat of playerStats" [ngClass]="stat.show?'show':'hide'" class="gp-home-users-single-base">
            <div class="gp-home-users-single-base-game">
                <span>{{stat.obj.gameName}}</span>
            </div>
            <div class="gp-home-users-single-base-game-img">
                <div [style.background-image]="stat.obj.gameImg" class="gp-home-users-single-base-game-img-logo"></div>
            </div>
            <div class="gp-home-users-single-base-stats">
                <div class="gp-home-users-single-base-stats-searching">
                    <span>{{stat.obj.playerCountSearching}}<br>Searching</span>
                </div>
                <div class="gp-home-users-single-base-stats-online">
                    <span>{{stat.obj.playerCountOnline}}<br>Online</span>
                </div>
                <div class="gp-home-users-single-base-stats-bg"></div>
            </div>
        </div>
        <div id="gp-home-join-now-spinner">
            <div id="gp-home-join-now-spinner-outerCircle"></div>
            <div id="gp-home-join-now-spinner-innerCircle"></div>
            <div (click)="openLoginPage()" id="gp-join-now-text">
                {{ isUserSignedIn ? 'WELCOME BACK!' : 'JOIN NOW!'}}
            </div>
        </div>
    </div>

    <a (click)="scrollToContent($event, scrollTarget)" id="gp-home-scrollbutton"><span></span></a>

</div>
<div id="content-container">
    <div id="gp-home-real-content-top"></div>
    <!--Jeder Gamer kennt das Gefühl, wenn man vergeblich eine gute Gruppe sucht, mit der man in Spielen Spaß haben kann. Das in den meisten Spielen verbaute Matchmaking hat einfach keine Einstellungen, welche ein gezieltes Suchen ermöglichen würde. Meistens werden die erstbesten Spieler zusammen in ein Team gewürfelt und diese müssen dann miteinander auskommen. Mit GamerPals gehört dieses Gefühl der Geschichte an. Wir bieten gezielte Filter und eine aktive Community, wodurch sich jederzeit ein Team finden lässt, mit dem man auch gerne noch ein paar Runden mehr Spielen würde-->
    <div #scrollTarget id="gp-home-real-content">
        <div id="gp-home-real-content-wrapper">
            <div>
                <section class="gp-home-introduction-heading">
                    <h1>What is this site about?</h1>
                </section>
                <div class="gp-home-introduction-heading-spacer"></div>
                <section class="gp-home-introduction-content">

                    <p>
                        Every gamer knows the feeling when looking for a good group to have fun in games. The matchmaking built into most games simply
                        has no settings that would allow a targeted search. Most of the time, the first best players are rolled together into a team
                        and they have to get along with each other.
                        <br><br><br>
                        With GamerPals this feeling belongs to history. We offer targeted filters and an active community, so you can always find a
                        team that would like to play a few more rounds.
                    </p>
                    <div class="video-wrapper">
                        <iframe allowfullscreen
                                height="349" src="https://www.youtube.com/embed/NM2wtte1JRE" width="560">
                        </iframe>
                    </div>
                </section>
            </div>
            <div>
                <section class="gp-home-introduction-heading">
                    <h1>What we offer</h1>
                </section>
                <div class="gp-home-introduction-heading-spacer"></div>
                <section class="gp-home-introduction-content" id="gp-home-introduction-services">
                    Our services aim to provide the users the best possible solution not only for quick lobby searches, but also for long term
                    searches.
                </section>

                <section id="gp-home-introduction-services-wrapper">
                    <div class="gp-home-introduction-services-button">
                        <i class="material-icons">whatshot</i>
                        <div class="introduction-services-heading">Short Term Search</div>
                    </div>
                    <div class="gp-home-introduction-services-button">
                        <i class="material-icons">notifications_active</i>
                        <div class="introduction-services-heading">Long Term Search</div>
                    </div>
                    <div class="gp-home-introduction-services-button">
                        <i class="material-icons">group_add</i>
                        <div class="introduction-services-heading">Friends List</div>
                    </div>
                </section>
            </div>
            <div style="margin-top: 50px;">
                <section class="gp-home-introduction-heading">
                    <h1>Short Term Search</h1>
                </section>
                <div class="gp-home-introduction-heading-spacer"></div>
                <section class="gp-home-introduction-content" id="gp-home-introduction-services2">
                    Short Term Search works like a traditional lobby finder but with way more options, parameters and features. With that we can
                    provide the best possible gaming experience by letting you choose who you really want to play with.<br><br>
                    But not just that - we automatically open up a discord voice and textchannel for your lobby, so that you can join that with one
                    simple button click. There is nothing easier than finding a quick match with GamerPals!
                </section>
            </div>
        </div>
    </div>
    <div id="gp-home-real-content-bottom"></div>
    <div id="gp-home-footer">
    </div>
</div>
