<!--suppress AngularUndefinedBinding -->
<app-split-pane leftStyle="width: 400px" rightStyle="width: calc(100% - 400px); max-width: unset;">
    <div id="friends-container" split-left>
        <div [class.show]="!isTop" id="friends-container-shadow-top"></div>
        <mat-spinner *ngIf="showFriendsSpinner" id="friendsLoading-spinner"></mat-spinner>
        <div (scroll)="changeShadows()" [class.finished-loading]="showFriends" id="friends-content">
            <mat-list>
                <mat-list-item *ngFor="let friend of friends" class="friend-button">
                    <img alt="Profile Picture" matListAvatar src="{{ friend.profilePicture }}">
                    <h3 matLine> {{ friend.profileName }} </h3>
                    <p matLine>
                        <span class="{{ friend.onlineStatus }}"> {{ friend.onlineStatus }} </span>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>
        <div [class.show]="!isBottom" id="friends-container-shadow-bottom"></div>
    </div>

    <div id="single-friend-container" split-right>

    </div>
</app-split-pane>

