<div [routerLinkActive]="'active'" class="gp_main_header_item" id="gp_home" routerLink="/home">
    <p>Homepage</p>
    <div class="gp_main_header_item_active">
    </div>
</div>
<div [routerLinkActive]="'active'" class="gp_main_header_item" id="gp_short-search" routerLink="/short-search">
    <p>Search Lobby</p>
    <div class="gp_main_header_item_active">
    </div>
</div>
<!--<div [routerLinkActive]="'active'" class="gp_main_header_item" id="gp_long-search" routerLink="/long-search">
    <p>Long Term Search</p>
    <div class="gp_main_header_item_active">
    </div>
</div>-->
<div [routerLinkActive]="'active'" class="gp_main_header_item" id="gp_friends" routerLink="/friends">
    <p>Friends</p>
    <div class="gp_main_header_item_active">
    </div>
</div>
