
<div matRipple id="gp_home" class="gp_main_header_item" routerLink="/home" [routerLinkActive]="'active'">
  <p>Homepage</p>
  <div class="gp_main_header_item_active">
  </div>
</div>
<div matRipple  id="gp_short-search" class="gp_main_header_item" routerLink="/short-search" [routerLinkActive]="'active'">
  <p>Short Term Search</p>
  <div class="gp_main_header_item_active">
  </div>
</div>
<div matRipple  id="gp_long-search" class="gp_main_header_item" routerLink="/long-search"  [routerLinkActive]="'active'">
  <p>Long Term Search</p>
  <div class="gp_main_header_item_active">
  </div>
</div>
<div matRipple  id="gp_friends" class="gp_main_header_item" routerLink="/friends"  [routerLinkActive]="'active'">
  <p>Friends</p>
  <div class="gp_main_header_item_active">
  </div>
</div>