<div id="drag-region">
  <div id="window-controls">
    <div class="button" id="min-button">
      <span>
        <i class="material-icons">
          arrow_drop_down
        </i>
      </span>
    </div>
    <div class="button" id="max-button">
      <span>
        <i class="material-icons">
          fullscreen
        </i>
      </span>
    </div>
    <div class="button" id="restore-button">
      <span>
        <i class="material-icons">
          fullscreen_exit
        </i>
      </span>
    </div>
    <div class="button" id="close-button">
      <span>
        <i class="material-icons">
          close
        </i>
      </span>
    </div>
  </div>
</div>
