<app-electron-controls [ngStyle]="{'display': showElectronControls == true? 'block' : 'none'}" class="status-barBG"></app-electron-controls>
<app-header class="app-barBG"></app-header>

<div id="gp_main_content" [ngStyle]="{'height': showElectronControls == true? 'calc(100% - 100px)' : 'calc(100% - 80px)'}">
    <div [@routeAnimations]="mainOutlet && mainOutlet.activatedRouteData 
      && mainOutlet.activatedRouteData['animation']">
        <router-outlet #mainOutlet="outlet"></router-outlet>
    </div>
</div>

