@import "variables";
@import "functions";

:host {
    display: flex;
    flex-direction: column; 
}
app-electron-controls{
    position: relative;
    float: left;
}

app-header{
    position: relative;
    float: left;
    z-index: 99;
    height: 80px; // remove this to make mobile navigation pull away content
    transition: height .3s;

    :host-context(.mobile) & {
      height: 60px;
    }
}

#gp_main_content{
    display: block;
    width: 100%;
    position: relative;
    float: left;
    overflow: auto;
    flex: 1;

    div{
        height: 100%;
        width: 100%;
    }
}

::ng-deep .mat-progress-bar-buffer {
    background-color: var(--background-color) !important;
}