/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "functions";
@import "~@angular/material/theming";

// Default Theme
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.dark-theme {
    @import "themes/dark-theme";
    @include angular-material-theme($dark-theme);
    @include generate-theme-vars($dark-theme);
}

.light-theme {
    @import "themes/light-theme";
    @include angular-material-theme($light-theme);
    @include generate-theme-vars($light-theme);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;

    background-color: var(--background-color);
}

app-root {
    display: block;
    margin: 0px;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    z-index: 100;
    width: 15px;
}

::-webkit-scrollbar-track {
    z-index: 100;
    border: 1px solid #686868;
}

::-webkit-scrollbar-thumb {
    z-index: 100;
    background: #3a3a3a;
}

::-webkit-scrollbar-track-piece{
    z-index: 100;
    background: #7c7c7c;
    border: 1px solid #3a3a3a;
}

::-moz-selection, ::selection {
    z-index: 100;
    background: #7c7c7c;
    text-shadow: none;
}

.mat-snack-bar-container {
    background: var(--background-color) !important;
    color: var(--text-color) !important;

    .mat-simple-snackbar-action{
        color: var(--primary-color);
    }
}