@import "variables";
@import "functions";

:host{
    display: inline-block;
}

.gp_main_header_item{
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-family: Arial;
    cursor: pointer;
    text-decoration: none;
    @include no-select();
    outline: none !important;

    p {
        position: relative;
        float: left;
        top: 30%;
        color: var(--text-color);
    }

    .profilePicture{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        position: relative;
        float: left;
        margin-left: 15px;
        margin-top: 5%;
        border-radius: 100%;
    }
}