@import "variables";
@import "functions";

:host{display: block;}

.gp_main_header_item{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    position: absolute;
    right: 20px;
    float: none;
    font-family: Arial;
    cursor: pointer;
    text-decoration: none;
    @include no-select();

    color: var(--text-color);

    .profilePicture{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        position: relative;
        float: right;
        margin-left: 15px;
        margin-top: -15px;
        border-radius: 100%;
    }
}